p.alert.alert-notice{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin: 0;
    padding: 14px 0;
}

p.alert.alert-error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    margin: 0;
    padding: 14px 0;
}